@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
header img {
  width: 65vw; }
  header img:hover {
    transform: scale(1.1);
    transition: transform 1s; }
  @media only screen and (min-width: 768px) {
    header img {
      width: 45vw; } }
  @media only screen and (min-width: 1200px) {
    header img {
      width: 28vw; } }

nav a {
  font-size: 4vw;
  font-style: normal;
  font-weight: bold;
  color: #0F0E0E; }
  @media only screen and (min-width: 768px) {
    nav a {
      font-size: 3vw;
      font-style: normal;
      font-weight: bold; } }

.anm-bg {
  width: 99vw;
  height: fit-content;
  background-color: none;
  animation-name: anime;
  animation-duration: 1.9s;
  animation-delay: 1.5s;
  animation-timing-function: linear; }

@keyframes anime {
  0% {
    background-color: none; }
  25% {
    background-color: rgba(189, 26, 26, 0.5); }
  50% {
    background-color: #bd1a1a; }
  75% {
    background-color: rgba(189, 26, 26, 0.5); }
  100% {
    background-color: none; } }

.bg-dred {
  background-color: #bd1a1a; }

.bg-lred {
  background-color: #a72f2f; }

@media only screen and (min-width: 768px) {
  .center {
    display: flex;
    justify-content: center; } }

* {
  font-family: "Kdam Thmor Pro", sans-serif; }

h1 {
  font-size: 8vw;
  font-style: normal;
  font-weight: bold; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 5vw;
      font-style: normal;
      font-weight: bold; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.7vw;
      font-style: normal;
      font-weight: bold; } }

h2 {
  font-size: 6vw;
  font-style: normal;
  font-weight: normal; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 4vw;
      font-style: normal;
      font-weight: normal; } }
  @media only screen and (min-width: 1200px) {
    h2 {
      font-size: 3.2vw;
      font-style: normal;
      font-weight: normal; } }

h3 {
  font-size: 4vw;
  font-style: normal;
  font-weight: lighter; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 3vw;
      font-style: normal;
      font-weight: lighter; } }

iframe {
  width: 95vw;
  height: 60vw; }
  @media only screen and (min-width: 1200px) {
    iframe {
      width: 49vw; } }

.news {
  background-color: rgba(128, 128, 128, 0.4); }

.equipos {
  width: 100vw;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1vw; }
  @media only screen and (min-width: 1200px) {
    .equipos {
      justify-content: none; } }
  .equipos a img {
    width: 45vw;
    border: solid 2px black; }
    @media only screen and (min-width: 768px) {
      .equipos a img {
        width: 30vw; } }
    @media only screen and (min-width: 1200px) {
      .equipos a img {
        width: 18vw; } }

.button-top {
  width: 15vw;
  height: 12vw;
  background-color: #0F0E0E;
  position: sticky;
  bottom: 0;
  left: 78vw;
  border-top-left-radius: 13%;
  border-top-right-radius: 13%; }
  @media only screen and (min-width: 768px) {
    .button-top {
      left: 82vw; } }
  @media only screen and (min-width: 1200px) {
    .button-top {
      width: 9vw;
      height: 7vw;
      left: 88vw; } }
  .button-top p, .button-top .p-italic {
    text-decoration-line: none;
    color: aliceblue;
    text-align: center;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: bold; }
    @media only screen and (min-width: 1200px) {
      .button-top p, .button-top .p-italic {
        font-size: 3;
        font-style: normal;
        font-weight: normal; } }

.noti {
  width: 98vw; }
  .noti p, .noti .p-italic {
    font-size: 5vw;
    font-style: normal;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      .noti p, .noti .p-italic {
        font-size: 4vw;
        font-style: normal;
        font-weight: bold; } }
    @media only screen and (min-width: 1200px) {
      .noti p, .noti .p-italic {
        font-size: 2vw;
        font-style: normal;
        font-weight: lighter; } }
  @media only screen and (min-width: 1200px) {
    .noti {
      width: 49vw; } }

.p-italic {
  font-size: 5vw;
  font-style: italic;
  font-weight: bold; }

.h-ghead {
  height: 15vh;
  margin: 0, 2vw; }

.bg-img22 {
  background-image: url(../assets/2022concept.png); }

.bg-img21 {
  background-image: url(../assets/temp21.jpg); }

.text-bglight {
  color: #F5F0F0; }

.text-bgdark {
  color: #0F0E0E; }

.bgf-light {
  background-color: aliceblue; }

footer div img {
  width: 10vw; }
  @media only screen and (min-width: 768px) {
    footer div img {
      width: 6vw; } }
  @media only screen and (min-width: 1200px) {
    footer div img {
      width: 3.5vw; } }
