@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
	font-family: 'Kdam Thmor Pro', sans-serif;
	padding: 0;
	margin: 0;
}

header a img{
    width: 60vw;
}

nav a{
    font-size: 2vw;
}

footer div img{
    width: 4vw;
}

.bg-dred{
    background-color: rgb(189, 26, 26);
}

.bg-lred{
    background-color: rgb(167, 47, 47);
}

.bg-img22{
    background-image: url(../assets/2022concept.png);
}

.bg-img21{
    background-image: url(../assets/temp21.jpg);
}
.equipos{
    width: 45vw;
    margin-top: 15px;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1vw;
}
    .equipos a img{
        width: 19vw;
        border: solid 2px black;
    }

.h-ghead{
    height: 15vh;
}