@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

// fuente
$mainFont: 'Kdam Thmor Pro', sans-serif;
$txtSizeSM: 3vw;
$txtSizeMD: 4vw;
$txtSizeLG: 5vw;
$txtSixzeHDR: 8vw; 

$colores:(
    'mainColor': rgb(189, 26, 26),
    'mainColorT': rgba(189, 26, 26, 0.5),
    'secondaryColor': rgb(167, 47, 47),
    'thirdColor': aliceblue,
    'txtLight': #F5F0F0,
    'txtDark': #0F0E0E,
);
