//imports
@import "_vars";
@import "_nav&head";
@import "_brkpnts";

*{
    font-family: $mainFont;
}

h1{
    @include fuentes(8vw, normal, bold);
    @media only screen and (min-width: 768px) {
        @include fuentes(5vw, normal, bold)
    }
    @media only screen and (min-width: 768px) {
        @include fuentes(3.7vw, normal, bold)
    }
}
h2{
    @include fuentes(6vw, normal, normal);
    @media only screen and (min-width: 768px) {
        @include fuentes(4vw, normal, normal)   
    }
}
h3{
    @include fuentes(4vw, normal, lighter);
    @media only screen and (min-width: 768px) {
        @include fuentes(3vw, normal, lighter)
    }
}

iframe{
    width: 95vw;
    @media only screen and (min-width: 1200px){
        width: 49vw;
    }
}

.equipos{
    width: 100vw;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1vw;
    @media only screen and (min-width: 1200px){
        justify-content: none;
    }
    a img{
        width: 45vw;
        border: solid 2px black;
        @media only screen and (min-width: 768px){
            width: 30vw;
        }
        @media only screen and (min-width: 1200px){
            width: 18vw;
        }
    }
}

.button-top{
    width: 15vw;
    height: 12vw;
    background-color: map-get($map: $colores, $key: 'txtDark');
    position: sticky;
    bottom: 0;
    left: 78vw;
    border-top-left-radius: 13%;
    border-top-right-radius: 13%;
    @media only screen and (min-width: 768px){
        left: 82vw;
    }
    @media only screen and (min-width: 1200px){
        width: 9vw;
        height: 7vw;
        left: 88vw;
    }
    p{
        text-decoration-line: none;
        color: map-get($map: $colores, $key: 'thirdColor');
        text-align: center;
        @include fuentes(3.5vw, normal, bold);
        @media only screen and (min-width: 1200px){
            @include fuentes(3, normal, normal);
        }
    }
}

.noti{
    width: 98vw;
    p{
        @include fuentes(5vw, normal, bold);
        @media only screen and (min-width: 768px){
            @include fuentes(4vw, normal, bold);
        }
        @media only screen and (min-width: 1200px){
            @include fuentes(2.5vw, normal, lighter);
        }
    }
    @media only screen and (min-width: 1200px){
        width: 49vw;
    }
}

.p-italic{
    @extend p;
    @include fuentes(5vw, italic, bold); 
}

.h-ghead{
    height: 15vh;
    margin: 0, 2vw;
}

.bg-img22{
    background-image: url(../assets/2022concept.png);
}

.bg-img21{
    background-image: url(../assets/temp21.jpg);
}

.text-bglight{
    color: map-get($map: $colores, $key: 'txtLight');
}

.text-bgdark{
    color: map-get($map: $colores, $key: 'txtDark');
}

.bgf-light{
    background-color: map-get($map: $colores, $key: 'thirdColor');
}

footer div img{
    width: 10vw;
    @media only screen and (min-width: 768px){
        width: 6vw;
    }
    @media only screen and (min-width: 1200px){
        width: 3.5vw;
    }
}